{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <h1>初めてのFlaskとBootstrap</h1>
        </div>
    </div>

    <h2>ネコの紹介</h2>

    <br>
    <div class="row">
        <div class="col-sm-6">
                <img class="img-responsive center-block" 
                src="IMGs\IMG_0713.JPG" alt="かわいさを共有したかったのですが画像を出せませんでした" 
                width="450" height="600">
            <div width="450" class="overflowWrap-breakWord">
                <h3>マッシュ</h3>
                <p>飼い猫です　彼の特徴は運動神経が良いことです　いつもタンスの上にもよく登ります　
                    彼は甘えん坊で、よくすり寄ってきたり、家族の近くで自分の肉球をちゅぱちゅぱすっています　
                    これは彼が十分に親猫と一緒にいることが出来なかったから、人間を親代わりにしているのかもしれません　
                </p>
            </div>
        </div>
    
        <div class="col-sm-6">
                <img class="img-responsive center-block" 
                src="IMGs\IMG_0704.JPG"alt="かわいさを共有したかったのですが画像を出せませんでした" 
                width="450" height="600" >

                <h3>のび太</h3>
                <p>
                    飼い猫です　彼の特徴は運動神経が悪いことです　よくマッシュと場所の取り合いをして、負けています　
                    またドジでもあり、高いところで寝ているとたまに落ちそうになっています　
                    マッシュほど甘えん坊ではなく、せいぜいが頭をこすりつけてくるくらいです　
                    免疫が弱いのか、よく目が赤くなっているのを見ます　そういう時は大体おとなしいので、痛いのかもしれません　
                </p>
        </div>
    </div>
    <h3>苦労したこと</h3>
    <p>
        まず、仮想環境の構築に手間取った。Anacondaで Python を始めたため、Anacondaprompt か AnacondaNavigator を使って環境を構築しなければならないと気づくのに時間がかかった。
      <br>また、Flaskの url_for で Bootstrap を使おうとしたけれどなぜかうまくいかず、違う手段で読み込むことにしたのは良かったのかわからない。
        <br>他にも、失敗したこと、解決したことはいくつかあるけれど、全て自分で調べて解決した。自分で調べて解決し、形のあるものを作るというのは、時間はかかるけれども学習にはとても良いと
            実感した。（少し時間がかかりすぎたような気はする）
    </p>
    <br>
    <h3>今後の抱負</h3>
    <p>今回はFlaskを使っては見たものの それらしいことはできていなかったため、次は電子掲示板かTodoリストをつくろうと思う。
    </p>

{% endblock %}